<section class="work-process ptb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-10">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">Process</h4>
          <h2>Full-Cycle Web Application Development</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-md-12 order-1 order-lg-0">
        <div class="img-wrap">
          <img
            src="assets/img/company/process.png"
            alt="work process"
            class="img-fluid rounded-custom"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-0 order-lg-1">
        <ul class="work-process-list list-unstyled">
          <li class="d-flex align-items-start mb-4">
            <div
              class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2"
            >
              <i class="far fa-folder-tree fa-2x"></i>
            </div>
            <div class="icon-content">
              <h3 class="h5 mb-2">Idea Roadmapping</h3>
              <p>
                Our consultants and business analysts will discuss your web app idea and custom 
                needs and map out a clear path forward. 
                They will transform your innovative concepts into actionable strategies.
              </p>
            </div>
          </li>
          <li class="d-flex align-items-start mb-4">
            <div
              class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2"
            >
              <i class="far fa-bezier-curve fa-2x"></i>
            </div>
            <div class="icon-content">
              <h3 class="h5 mb-2">Designing Your Web App</h3>
              <p>
                After understanding your target audience, our user-centric designers start
                 creating intuitive, visually appealing, and engaging interfaces for your custom web app.
              </p>
            </div>
          </li>
          <li class="d-flex align-items-start mb-4">
            <div
              class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2"
            >
              <i class="far fa-layer-group fa-2x"></i>
            </div>
            <div class="icon-content">
              <h3 class="h5 mb-2">Developing Your Custom Web App</h3>
              <p>
                As soon as you approve the design, we begin the development process. Our web development
                 team leverages the latest technologies and 
                best practices to build a feature-rich web application tailored to your requirements.
              </p>
            </div>
          </li>
          <li class="d-flex align-items-start mb-4 mb-lg-0">
            <div
              class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2"
            >
              <i class="far fa-truck fa-2x"></i>
            </div>
            <div class="icon-content">
              <h3 class="h5 mb-2">Support and Maintenance</h3>
              <p>
                Our collaboration continues long after developing your web application. Our
                 reliable support and maintenance 
                team provides ongoing monitoring, troubleshooting, and enhancement for your web apps.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

