<section class="feature-section-two ptb-60 bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-lg-between justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="feature-content-wrap">
          <div class="section-heading">
            <h2>Start your journey with us</h2>
            <p>

              Start your learning journey with Skolo online. 
              We offer diverse courses and expert instructors to help you achieve your goals.
            </p>
          </div>
          <ul class="list-unstyled d-flex flex-wrap list-two-col mb-0" data-aos="fade-up" data-aos-delay="50">
            <li>
              <div class="icon-box">
                <i class="fas fa-users text-white bg-primary rounded"></i>
              </div>
              <h3 class="h5">User-friendly interface</h3>
              <p>Our platform's intuitive interface ensures easy navigation for all learners.
              </p>
            </li>
            <li>
              <div class="icon-box">
                <i class="fas fa-clock text-white bg-danger rounded"></i>
              </div>
              <h3 class="h5">Flexibility</h3>
              <p>
                Our platform allows flexible, self-paced learning.
              </p>
            </li>
          </ul>
          <ul class="list-unstyled d-flex flex-wrap list-two-col mb-0" data-aos="fade-up" data-aos-delay="50">
            <li>
              <div class="icon-box">
                <i class="fas fa-graduation-cap text-white bg-success rounded"></i>
              </div>
              <h3 class="h5">Highest-quality courses</h3>
              <p>Top-quality courses
              </p>
            </li>
            <li>
              <div class="icon-box">
                <i class="fas fa-lightbulb text-white bg-info rounded"></i>
              </div>
              <h3 class="h5">Enhance your skills</h3>
              <p>
                A wide range of courses to enhance your skills
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-7">
        <div class="feature-img-wrap">
          <img src="assets/img/feature-hero-img.svg" alt="feature image" class="img-fluid rounded-custom" />
        </div>
      </div>
    </div>
  </div>
</section>
