<section class="app-two-feature-three bg-light ptb-120">
  <div class="container">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-5 col-xl-5 col-sm-12">
        <div class="app-two-feature-three-left">
          <div class="app-content-feature-wrap">
            <h2>Revolutionize School Management with Our Advanced Solutions</h2>
            <p>
              Our platform is designed to transform school administration and education. From seamless online learning integration to robust communication tools, we provide everything schools need to thrive in the modern educational landscape.
            </p>
          </div>
          <div class="accordion faq-accordion mt-5" id="accordionExample">
            <div class="accordion-item active border-0">
              <h5 class="accordion-header" id="faq-1">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1"
                  aria-expanded="true"
                >
                  <i class="far fa-calendar-check pe-3"></i> How can I streamline school administration?
                </button>
              </h5>
              <div
                id="collapse-1"
                class="accordion-collapse collapse show"
                aria-labelledby="faq-1"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Our platform automates scheduling, tracks attendance, and manages grading, enabling efficient school administration and reducing manual workload.
                </div>
              </div>
            </div>
            <div class="accordion-item border-0">
              <h5 class="accordion-header" id="faq-2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-2"
                  aria-expanded="false"
                >
                  <i class="fas fa-laptop-code pe-3"></i> What about online learning features?
                </button>
              </h5>
              <div
                id="collapse-2"
                class="accordion-collapse collapse"
                aria-labelledby="faq-2"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Our platform supports virtual classrooms, interactive sessions, and course management, making it easy to integrate online learning into your curriculum.
                </div>
              </div>
            </div>
            <div class="accordion-item border-0">
              <h5 class="accordion-header" id="faq-3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-3"
                  aria-expanded="false"
                >
                  <i class="far fa-comments pe-3"></i> How do I communicate with parents and students?
                </button>
              </h5>
              <div
                id="collapse-3"
                class="accordion-collapse collapse"
                aria-labelledby="faq-3"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Utilize our mass communication tools to send updates, announcements, and emergency notifications to parents, students, and staff efficiently.
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-6 col-xl-6 col-sm-12">
        <div
          class="app-two-feature-three-img position-relative text-center mt-5 mt-lg-0"
        >
          <div class="feature-three-shape">
            <img
              src="assets/img/app-two-feature-blob-shape.png"
              alt="app screen"
              class="feature-three-blob img-fluid"
            />
          </div>
          <img
            src="../../../assets/img/schools.png"
            alt="app screen"
            class="position-relative z-5"
          />
        </div>
      </div>
    </div>
  </div>
</section>
