<app-header></app-header>
<section class="masonary-blog-section ptb-60 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <div class="section-heading text-center">
          <h4 class="text-primary h5">Professional Growth</h4>
          <h2>Career Advancement Programs</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let list of careerSubjects">
        <div class="single-article rounded-custom my-3">
          <a routerLink="/news-details" class="article-img">
            <img src="assets/img/blog-1.jpg" alt="article" class="img-fluid" />
          </a>
          <div class="article-content p-4">
            <div class="article-category mb-4 d-block">
              <a href="javascript:;" class="d-inline-block text-dark badge bg-warning-soft">Design</a>
            </div>
            <a routerLink="/news-details">
              <h2 class="h5 article-title limit-2-line-text">
                Do you really understand the concept of product value?
              </h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>