<section class="cyber-features pt-101 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-12">
        <div class="section-heading text-center mb-5">
          <h2>Are you facing these challenges?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-list"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">Regulatory Compliance</h3>
            <p>
              We ensure your software meets Compliance standards from the start, 
              providing you with peace of mind and robust data protection.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-cloud"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">High Cost of In-House Team</h3>
            <p>
              Our services deliver high-quality development expertise at a
               cost efficiency that is 2-3 times better than maintaining an in-house team.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-database"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">Looking for a Reliable Partner</h3>
            <p>
              We minimize workflow risks, ensuring clear communication,
               structured progress, and staying within your budget and timeline.
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

