<section class="hero-section ptb-120 bg-purple text-white" style="
    background: url('assets/img/app-two-mockup-bg.png') no-repeat center center /
      cover;
  ">
  <div class="container">
    <div class="row justify-content-xl-between align-items-center">
      <div class="col-lg-5 col-xl-5 col-xl-5 col-md-10">
        <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
          <h5 class="text-warning">Empowering Schools with Advanced Learning and Management Tools</h5>
          <h1 class="fw-bold display-5">Welcome to Skolo Solutions</h1>
          <p class="lead">
            Transform your school's operations with our comprehensive platform designed for efficiency and engagement.
            From seamless administration to interactive learning, Skolo equips you with the tools needed for success.
          </p>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 mt-5">
        <div class="hero-app-img position-relative text-center">
          <img src="../../../assets/img/img-skolo.png" alt="app screen" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>


<section class="feature-promo ptb-120 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h2>Comprehensive Solutions for Schools</h2>
          <p>
            Discover a suite of tools designed to enhance school management and communication, making education more
            efficient and effective.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-primary">
            <i class="fal fa-chalkboard-teacher fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Mass Communication</h3>
            <p>
              Effortlessly communicate with all stakeholders including students, parents, and teachers through a unified
              messaging system.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-danger">
            <i class="fal fa-school fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">School Management</h3>
            <p>
              Manage school operations seamlessly with tools for scheduling, attendance tracking, and performance
              evaluation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-dark">
            <i class="fal fa-calendar-alt fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Flexible Scheduling</h3>
            <p>
              Customize and manage school schedules and timetables to fit the needs of both students and staff.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-choose-us ptb-120">
  <div class="container">
    <div class="row justify-content-lg-between align-items-center">
      <div class="col-lg-5 col-12">
        <div class="why-choose-content">
          <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
            <i class="fal fa-book-open fa-2x text-white"></i>
          </div>
          <h2>Advanced Tools for Enhanced Learning</h2>
          <p>
            Equip your institution with powerful tools to manage educational content, track student progress, and
            facilitate communication.
          </p>
          <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>Real-time Communication
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>Integrated Management
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>Customizable Scheduling
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>Performance Analytics
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>Interactive Content
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>Efficient Administration
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
          <img src="../../../assets/img/sc1.png" class="img-fluid" alt="school management" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="image-feature pt-60 pb-120">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-12 order-lg-1">
        <div class="feature-img-content">
          <div class="icon-box rounded-custom bg-dark shadow-sm d-inline-block">
            <i class="fal fa-cogs fa-2x text-white"></i>
          </div>
          <h2>Manage and Optimize School Operations</h2>
          <p>
            Streamline school administration with features that allow for effective management of resources, scheduling,
            and communication.
          </p>
          <p>
            Enhance operational efficiency and create a more productive educational environment.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-12 order-lg-0">
        <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
          <img src="../../../assets/img/sc2.png" class="img-fluid" alt="school operations" />
        </div>
      </div>
    </div>
  </div>
</section>



<section class="app-two-download-cta ptb-120" style="
    background: url('assets/img/app-download-cta.png') no-repeat center center /
      cover;
  ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xl-6 col-md-10">
        <div class="section-heading text-center">
          <h2 class="text-white">Ready to Transform Your School?</h2>
          <p class="text-white">
            Contact us today to learn more about how our solutions can benefit your school. Our team is here to help you
            every step of the way.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7 col-12">
        <div class="action-btns mt-3">
          <ul class="list-unstyled text-center">
            <li class="d-inline-block me-2 mb-lg-0">
              <a class="d-flex align-items-center text-decoration-none rounded active" href="#"><i
                  class="fab fa-whatsapp pe-2"></i>
                <span>Contact Us</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>