<section
  class="app-two-cta ptb-120 text-white bg-purple"
  style="background-image: url('assets/img/hero-dot-bg.png')"
>
  <div class="container">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 col-xl-6">
        <div class="app-two-mockup position-relative text-center pe-5">
          <img
            src="../../../assets/img/img-skolo.png"
            alt="Skolo Institute App"
            class="img-fluid position-relative z-5"
          />
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 col-md-10">
        <div class="app-two-cta-right px-md-0 pt-5 pt-md-0">
          <div class="section-heading text-white">
            <h2>Get Started for Free</h2>
            <p>
              Experience the full range of features with Skolo Institute at no cost. Start today and explore how our platform can transform your educational experience.
            </p>
          </div>
          <div
            class="feature-img-wrap position-relative flex-column align-items-end"
          >
            <ul class="img-overlay-list list-unstyled">
              <li
                class="d-flex align-items-center bg-white rounded shadow-sm p-3"
                data-aos="fade-up"
                data-aos-delay="50"
              >
                <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                <h6 class="mb-0">Register today</h6>
              </li>
              <li
                class="d-flex align-items-center bg-white rounded shadow-sm p-3"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                <h6 class="mb-0">Set Up Your Online Classroom</h6>
              </li>
              <li
                class="d-flex align-items-center bg-white rounded shadow-sm p-3"
                data-aos="fade-up"
                data-aos-delay="150"
              >
                <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                <h6 class="mb-0">Invite Unlimited Learners</h6>
              </li>
            </ul>
          </div>
          <div
            class="action-btns pt-4"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <a routerLink="/student-portal" class="btn btn-primary me-3">Get Started Now</a>
            <a  class="btn btn-outline-light">Book a Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
