<app-close-header></app-close-header>
<section class="sign-up-in-section bg-light ptb-20">
    <div class="container">

        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-8 col-12">
                <main class="form-signin">
                    <div class="text-center mb-4">
                        <h1 class="mb-3 font-weight-normal">
                            Change your password
                        </h1>
                    </div>
                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                        <span [innerHTML]="errorMessage"></span>
                    </div>
                    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                        Your password has been reset. Please <a [routerLink]="['/authentication/login']"> click here to
                            log in. </a>
                    </div>
                    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
                        (ngSubmit)="resetPassword(resetPasswordForm.value)">
                        <div class="form-floating mb-3">


                            <input type="password" id="password" formControlName="password" class="form-control" />
                            <label for="password">Password:</label>

                            <span class="text-danger">
                                <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is
                                    required</em>
                            </span>
                        </div>
                        <div class="form-floating mb-3">


                            <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                            <label for="confirm">Confirm Password:</label>

                            <span class="text-danger">
                                <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation
                                    is required</em>
                                <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="d-grid">
                                    <button class="btn btn-block btn-success" type="submit"
                                        [disabled]="!resetPasswordForm.valid">Change Password</button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <button class="btn btn-block btn-danger" type="button"
                                        routerLink="/authentication/login">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
</section>