
.chatbot-toggle-btn {
    position: fixed;
    right: 30px;
    bottom: 20px;
    height: 55px;
    width: 55px;
    background: #075e54;
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease;
  
  }
  