<section class="hero-section ptb-60 min-vh-100 d-flex align-items-center bg-light  position-relative overflow-hidden">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="hero-content-wrap">
          <h5 class="text-warning">SOFTWARE DEVELOPMENT COMPANY</h5>
          <h1 class="fw-bold display-5">
            Shaping the Future of Software
          </h1>
          <p class="lead">
            Welcome to Melane Systems, where innovation meets progress. We specialize in creating cutting-edge software
            solutions that empower businesses and individuals to reach new heights. Join us in defining the future.
          </p>
        </div>

        <div class="action-btns mt-5">
          <a routerLink="/contacts" class="btn btn-primary me-3">Contact us</a>
        </div>
      </div>



      <div class="col-lg-6 col-md-8 mt-5 mt-lg-0">
        <div class="animated-img-wrap">
          <!--animated shape start-->
          <ul class="animate-element parallax-element animated-hero-1" style="
              position: relative;
              transform: translate3d(0px, 0px, 0px);
              transform-style: preserve-3d;
              backface-visibility: hidden;
            ">
            <li class="layer" data-depth="0.02" style="
                position: relative;
                display: block;
                left: 0px;
                top: 0px;
                transform: translate3d(-5.48275px, 0px, 0px);
                transform-style: preserve-3d;
                backface-visibility: hidden;
              ">
              <img src="assets/img/screen/animated-screen-2.svg" alt="shape"
                class="img-fluid position-absolute type-0" />
            </li>
          </ul>
          <!--animated shape end-->
          <img src="assets/img/screen/animated-screen-1.svg" alt="shape" class="position-relative img-fluid img-hgt" />
        </div>
      </div>
    </div>
  </div>
</section>
