<section class="home-blog-section ptb-60 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center">
          <h4 class="text-primary h5">Blog</h4>
          <h2>Our Latest News and Update</h2>
          <p>
            Figure out our company's achievements, goals, and values and whether they match yours.
            Explore industry trends and career opportunities with us. Discover
            some practical tips on our blog on how to reach the desired work-life balance.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-article rounded-custom mb-4 mb-lg-0">
          <a routerLink="/news-details" class="article-img">
            <img src="../../../assets/img/blog/blog1.png" alt="article" class="img-fluid" />
          </a>
          <div class="article-content p-4">
            <div class="article-category mb-4 d-block">
              <a href="javascript:;" class="d-inline-block text-dark badge bg-warning-soft">Growth</a>
            </div>
            <p class="limit-2-line-text">
              Melane systems is among the best Eswatini-based software companies.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-article rounded-custom mb-4 mb-lg-0">
          <a routerLink="/news-details" class="article-img">
            <img src="assets/img/blog/blog3.png" alt="article" class="img-fluid" />
          </a>
          <div class="article-content p-4">
            <div class="article-category mb-4 d-block">
              <a href="javascript:;" class="d-inline-block text-dark badge bg-primary-soft">Career</a>
            </div>
            <p class="limit-2-line-text">
              Tech and non-tech career opportunities that deserve consideration
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-article rounded-custom mb-4 mb-lg-0 mb-md-0">
          <a routerLink="/news-details" class="article-img">
            <img src="assets/img/blog/blog2.png" alt="article" class="img-fluid" />
          </a>
          <div class="article-content p-4">
            <div class="article-category mb-4 d-block">
              <a href="javascript:;" class="d-inline-block text-dark badge bg-danger-soft">Growth</a>
            </div>
            <p class="limit-2-line-text">
              Work while resting or rest while working: everything you need to know about workation
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>