<section class="cyber-cta pb-60">
  <div class="container">
    <div
      class="cyber-cta-bg p-5 rounded-custom"
      style="
        background: url('assets/img/cta.png') no-repeat center
          center / cover;
      "
    >
      <div class="row">
        <div class="col-lg-9 col-md-9">
          <div class="cyber-cta-info position-relative">
            <div class="">
              <h2 class="text-white">Estimate cost of development!</h2>
              <p class="lead mb-0">
                Get Your Quote or Email Us at: 
                <a href="mailto:info&#64;melanegroup.com" >info&#64;melanegroup.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cyber-cta-btn">
            <a routerLink="/contacts" class="mt-3 btn btn-primary me-auto"
              >Get your calculation <i class="far fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

