<section class="why-choose-us pt-60 pb-120 bg-light">
  <div class="container">
    <div
      class="row justify-content-lg-between justify-content-center align-items-center"
    >
      <div class="col-lg-5 col-md-7 order-1 order-lg-0">
        <div class="why-choose-img position-relative">
          <img
            src="assets/img/feature-hero-img-2.svg"
            class="img-fluid"
            alt="duel-phone"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-0 order-lg-1">
        <div class="why-choose-content">
          <div class="mb-32">
            <h2>Mobile development process</h2>
          </div>
          <p>We provide full-cycle mobile app development to fit your business domain and budget requirements.</p>
          <ul class="list-unstyled">
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              A shared understanding of project objectives
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Business requirements transformed into functional
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              The initial vision of the architecture of the project
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              A project plan that includes risks and budgets
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              A clear product strategy and development roadmap
            </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>


