<section class="cyber-faq pt-120 pb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-6">
        <div class="section-heading text-center mb-5">
          <h5 class="h6 text-primary">Faq</h5>
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="cyber-faq-wrapper">
          <div class="accordion faq-accordion" id="accordionExample">
            <div class="accordion-item border border-2 rounded active">
              <h5 class="accordion-header" id="faq-1">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1"
                  aria-expanded="true"
                >
                What is software product development?
                </button>
              </h5>
              <div
                id="collapse-1"
                class="accordion-collapse collapse show"
                aria-labelledby="faq-1"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Software product development refers to the process of creating a software 
                  product that can be sold or distributed to end-users. This involves a range 
                  of activities, from identifying customer needs and designing the user experience, 
                  to building and testing the software, and launching it in the market.
                </div>
              </div>
            </div>
            <div class="accordion-item border border-2 rounded">
              <h5 class="accordion-header" id="faq-2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-2"
                  aria-expanded="false"
                >
                What is a software product development company?
                </button>
              </h5>
              <div
                id="collapse-2"
                class="accordion-collapse collapse"
                aria-labelledby="faq-2"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  A software development company is a business that specializes in creating software 
                  products, either for internal use or for sale to external customers. At Melane Systems, we specialize in custom product software development 
                  that is tailored to meet the unique needs of our clients and their target markets.
                </div>
              </div>
            </div>
            <div class="accordion-item border border-2 rounded">
              <h5 class="accordion-header" id="faq-3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-3"
                  aria-expanded="false"
                >
                What software product development services does Melane systems offer?
                </button>
              </h5>
              <div
                id="collapse-3"
                class="accordion-collapse collapse"
                aria-labelledby="faq-3"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Melane systems offers a range of product software development, including 
                  custom software development, web development, mobile app development, product design, 
                  quality assurance, software compliance and certification services. For startups, 
                  we provide Growth as a Service and comprehensive digital marketing services.
                </div>
              </div>
            </div>
            <div class="accordion-item border border-2 rounded">
              <h5 class="accordion-header" id="faq-4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-4"
                  aria-expanded="false"
                >
                How can I get started with Melane Systems software development services?
                </button>
              </h5>
              <div
                id="collapse-4"
                class="accordion-collapse collapse"
                aria-labelledby="faq-4"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  You can fill out the contact form on our website. We look forward to discussing your project!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cyber-faq-img text-lg-center mt-5 mt-lg-0 0">
          <img
          src="assets/img/faq.svg"
            alt="cyber security"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

