<section class="app-two-feature pt-200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-heading text-center">
          <h2>Categories you want to learn</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="app-two-single-feature d-md-flex align-items-start mb-30">
              <div class="app-two-single-feature-icon box-one me-3 mb-4 mb-md-0">
                <i class="far fa-book"></i>
              </div>
              <div class="app-two-single-feature-content">
                <h3 class="h5">Primary Education</h3>
                <p>
                  Build a strong foundation in basic subjects and develop essential skills.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="app-two-single-feature d-md-flex align-items-start mb-30">
              <div class="app-two-single-feature-icon box-two me-3 mb-4 mb-md-0">
                <i class="far fa-university"></i>
              </div>
              <div class="app-two-single-feature-content">
                <h3 class="h5">Secondary Education</h3>
                <p>
                  Deepen your knowledge in various subjects and prepare for higher education.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="app-two-single-feature d-md-flex align-items-start mb-30">
              <div class="app-two-single-feature-icon box-three me-3 mb-4 mb-md-0">
                <i class="far fa-university"></i>
              </div>
              <div class="app-two-single-feature-content">
                <h3 class="h5">Senior Education</h3>
                <p>
                  Advance your academic journey with specialized subjects and preparation for tertiary education.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="app-two-single-feature d-md-flex align-items-start mb-30">
              <div class="app-two-single-feature-icon box-four me-3 mb-4 mb-md-0">
                <i class="far fa-graduation-cap"></i>
              </div>
              <div class="app-two-single-feature-content">
                <h3 class="h5">Tertiary Education</h3>
                <p>
                  Explore advanced studies and professional courses to build a successful career.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>