<section class="career-promo ptb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">Why Join Us</h4>
          <h2>Great Working Environment</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="single-feature d-flex mt-0 p-5 bg-white rounded-custom">
          <span class="fas fa-house-user fa-2x text-primary"></span>
          <div class="ms-4 mt-2">
            <h5>Remote Working Facilities</h5>
            <p class="mb-0">
              Enjoy the flexibility and comfort of working from anywhere with our state-of-the-art remote working facilities.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="single-feature d-flex mt-4 mt-xl-0 mt-lg-0 mt-md-0 p-5 bg-white rounded-custom">
          <span class="fas fa-clock fa-2x text-primary"></span>
          <div class="ms-4 mt-2">
            <h5>Flexible Working Hours</h5>
            <p class="mb-0">
              Achieve a better work-life balance with our flexible working hours, designed to fit your lifestyle.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
          <span class="fas fa-user-friends fa-2x text-primary"></span>
          <div class="ms-4 mt-2">
            <h5>Friendly Skilled Team</h5>
            <p class="mb-0">
              Collaborate with a supportive and skilled team dedicated to achieving excellence together.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
          <span class="fas fa-briefcase-medical fa-2x text-primary"></span>
          <div class="ms-4 mt-2">
            <h5>Regular Performance Reviews</h5>
            <p class="mb-0">
              Stay on track with your career goals through our regular performance reviews and feedback sessions.
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

