<section class="digi-why pt-60">
  <div class="container">
    <div class="row align-content-center justify-content-between">
      <div class="col-lg-6 col-md-12">
        <div class="digi-why-left">
          <img src="assets/img/who-we-are.png" class="img-fluid" alt="melane" />
          <ul class="list-unstyled d-none d-md-block">
            <li>
           
            </li>
            <li>
              <img src="assets/img/dg-shape-2.png" class="shadow img-fluid" alt="shape" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="digi-why-right pt-4">
          <div>
            <span class="span-arrow">Who we are</span>
            <img src="assets/img/arro-right.svg" class="img-fluid" alt="arrow" />
          </div>
          <h2>Melane Systems</h2>
          <p>
            A software company, we're not just embracing the future—we're defining it.
            Our mission is to create cutting-edge software solutions that
            empower businesses and individuals to achieve their goals and reach new heights.
          </p>

          <a routerLink="/about" class="btn rounded-pill bg-orange mt-3">
            Learn more
          </a>

          <div>
            <div class="add-top-margin">
              <span class="span-arrow">Why choose us</span>
              <img src="assets/img/arro-right.svg" class="img-fluid" alt="arrow" />
            </div>
            <ul class="list-unstyled mb-0 mt-5">

              <li class="pe-4 d-flex p-3 align-items-center">
                <div>
                  <h4 class="mb-0">Customer-Centric</h4>
                  <span>Your success is our mission</span>
                </div>
              </li>
              <li class="pe-4 d-flex p-3 align-items-center">
                <div>
                  <h4 class="mb-0">Expert Team</h4>
                  <span>Skilled professionals dedicated to quality</span>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>