<section class="about-header-section ptb-60 position-relative overflow-hidden bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading-wrap d-flex justify-content-between z-5 position-relative">
          <div class="about-content-left">
            <div class="about-info mb-5">
              <h1 class="fw-bold display-5">
                About us
              </h1>
              <p class="lead">
                Melane systems is a full-cycle app & software development company which covers
                specific client
                business needs and manage them with the help of the best possible technology solutions.
              </p>
              <a routerLink="/career" class="btn btn-primary mt-4 me-3">Open Positions</a>
              <a routerLink="/contacts" class="btn btn-soft-primary mt-4">Contact us</a>
            </div>
          </div>
          <div class="about-content-right">
            <img src="../../../assets/img/company/About3.png" alt="about"
              class="img-fluid mb-5 rounded-custom shadow" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5"></div>
</section>