<section class="hero-section ptb-60 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-10">
        <div class="hero-content-wrap mt-5">
          <h1 class="fw-bold display-5">
            Enhancing Education In Eswatini, One Click At A Time.
          </h1>
          <p class="lead">
            Welcome to Skolo Institute, Eswatini’s premier online learning platform dedicated to
            providing extra classes to students across the country. Our mission is to support and
            enhance the existing education system by offering supplementary courses and resources
            that help students excel academically. Whether you're looking to boost your grades,
            prepare for exams, or deepen your understanding of complex subjects, Skolo Institute is here to help.
          </p>
          <div class="action-btns mt-5">
            <a routerLink="/skolo/categories" class="btn btn-primary me-3">Get started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 mt-5">
        <div class="hero-img position-relative circle-shape-images">
          <!--animated shape start-->
          <ul class="position-absolute animate-element parallax-element circle-shape-list">
            <li class="layer" data-depth="0.02">
              <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-1 hero-1" />
            </li>
            <li class="layer" data-depth="0.04">
              <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-2 hero-1" />
            </li>
            <li class="layer" data-depth="0.04">
              <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-3 hero-1" />
            </li>
            <li class="layer" data-depth="0.03">
              <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-4 hero-1" />
            </li>
            <li class="layer" data-depth="0.03">
              <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-5 hero-1" />
            </li>
          </ul>
          <!--animated shape end-->
          <img src="assets/img/screen/animated-screen-5.svg" alt="hero img" class="img-fluid position-relative z-5" />
        </div>
      </div>
    </div>
  </div>
</section>