<section class="payment-feature-img pt-200">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="payment-feature-img-left mb-5 mb-lg-0">
          <h2 class="mb-4">SKOLOI FOR STUDENTS</h2>
          <h3 class="package-name text-primary d-block">
            Student registration is E50.00
          </h3>
          <div class="mb-3">
            <h5 class="mb-2 h6">Benefits</h5>
          </div>
          <ul class="list-unstyled mt-4 mb-4">
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Wide variety of subjects taught by experienced educators.
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Gain access to past exam papers for thorough preparation.
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Live and recorded classes from top teachers.
            </li>

            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Learn at your own pace with 24/7 access to all resources
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Additional Learning Resources
            </li>
           
          </ul>
          <a routerLink="/skolo/student" class="btn-gradient-sqr">Get Started</a>
        </div>
      </div>
      <div class="col-lg-7">
        <div
          class="payment-feature-img-right text-center position-relative mt-5 mt-lg-0"
        >
          <div class="payment-feature-mockup position-relative">
            <img
              src="../../../assets/img/student packs.png"
              class="img-fluid"
              alt="Mocup"
            />
          </div>
          <div class="payment-feture-shape">
            <img src="/assets/img/p-dot.png" class="shape-three" alt="dot" />
            <img
              src="assets/img/pink-circle.png"
              class="shape-five"
              alt="shape"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
