
<section class="app-two-download-cta ptb-120" style="
background: url('assets/img/app-download-cta.png') no-repeat center center /
  cover;
">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xl-6 col-md-10">
        <div class="section-heading text-center">
          <h3 class="text-white">Get The App Now and Start Learning Today</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7 col-12">
        <div class="action-btns mt-3">
          <ul class="list-unstyled text-center">
            <li class="d-inline-block me-2 mb-lg-0">
              <a class="d-flex align-items-center text-decoration-none rounded active" href="#"><i
                  class="fab fa-apple pe-2"></i>
                <span>Available on the <span>App Store</span></span></a>
            </li>
            <li class="d-inline-block me-2 mb-lg-0">
              <a class="d-flex align-items-center text-decoration-none rounded" href="#"><i
                  class="fab fa-google-play pe-2"></i>
                <span>Available on the <span>Google Play</span></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
