<section class="integration-section ptb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6">
        <div class="section-heading text-center">
          <h2>Types of Software We Deliver</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-100">
      <div class="col-lg-5 col-md-12">
        <a routerLink="/web-development"
          class="mb-4 mb-lg-0 mb-xl-0 position-relative text-decoration-none connected-app-single border border-light border-2 rounded-custom d-block overflow-hidden p-5">
          <div class="position-relative connected-app-content">
            <h5>Web Development</h5>
            <p class="mb-0 text-body">
              Top-notch expertise allows us to build software that stands out in the market.
            </p>
            <ul class="list-unstyled">
              <li class="py-1">
                <i class="fas fa-check-circle me-2 "></i>
                SaaS Web applications
              </li>
              <li class="py-1">
                <i class="fas fa-check-circle me-2 "></i>
                Web applications
              </li>
              <li class="py-1">
                <i class="fas fa-check-circle me-2 "></i>
                Custom APIs
              </li>
              <li class="py-1">
                <i class="fas fa-check-circle me-2 "></i>
                Back-end & web services
              </li>
             
            </ul>
            <a routerLink="/web-development" class="read-more-link text-decoration-none"
            >Learn more<i class="far fa-arrow-right ms-2"></i
          ></a>
          </div>
        </a>
      </div>

      <div class="col-lg-5 col-md-12">
        <a routerLink="/mobile-development"
          class="position-relative text-decoration-none connected-app-single border border-light border-2 rounded-custom d-block overflow-hidden p-5">
          <div class="position-relative connected-app-content">
            <h5>Mobile App Development</h5>
            <p class="mb-0 text-body">
              Get your custom mobile app with our team of expert engineers. With us, you will upgrade your 
              services and boost end users’ satisfaction.
            </p>

            <ul class="list-unstyled">
              <li class="py-1">
                <i class="fas fa-check-circle me-2 "></i>
                IOS development
              </li>
              <li class="py-1">
                <i class="fas fa-check-circle me-2 "></i>
                Android development
              </li>
              <li class="py-1">
                <i class="fas fa-check-circle me-2 "></i>
                Cross-platform development
              </li>
             
            </ul>

            <a routerLink="/mobile-development" class="read-more-link text-decoration-none"
            >Learn more<i class="far fa-arrow-right ms-2"></i
          ></a>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>