<section class="process-section ptb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center" data-aos="fade-up">
          <h2>Transform Your Life</h2>
          <p>Discover Your Perfect Program In Our Courses.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="setup-process-wrap">
          <ul class="setup-process-list list-unstyled text-center mb-0">
            <li class="setup-process-item py-4 px-2" data-aos="fade-up">
              <div class="setup-process-icon mb-4">
                <i class="fas fa-book-open fa-2x text-primary"></i>
              </div>
              <h6 class="mt-3 mb-0">Knowledge & Skills</h6>
              <p>Enhance and cultivate your knowledge.</p>
            </li>
            <li class="setup-process-item py-4 px-2" data-aos="fade-up" data-aos-delay="50">
              <div class="setup-process-icon mb-4">
                <i class="fas fa-user-graduate fa-2x text-primary"></i>
              </div>
              <h6 class="mt-3 mb-0">Self Development</h6>
              <p>Develop skills for various career paths.</p>
            </li>
            <li class="setup-process-item py-4 px-2" data-aos="fade-up" data-aos-delay="100">
              <div class="setup-process-icon mb-4">
                <i class="fas fa-laptop-code fa-2x text-primary"></i>
              </div>
              <h6 class="mt-3 mb-0">Remote Learning</h6>
              <p>Explore popular topics.</p>
            </li>
            <li class="setup-process-item py-4 px-2" data-aos="fade-up" data-aos-delay="150">
              <div class="setup-process-icon mb-4">
                <i class="fas fa-tools fa-2x text-primary"></i>
              </div>
              <h6 class="mt-3 mb-0">Skill-Building</h6>
              <p>Focus on developing practical skills through hands-on learning.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
