<section class="feature-promo ptb-60 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h2>Major mobile app development technologies we work with</h2>
          <p>
            Delight your users with expressive and feature-rich native iOS, Android and cross-platform apps 
            leveraging our extensive experience of working with all major technologies.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-primary">
            <i class="fal fa-layer-group fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">iOS App Development</h3>
            <p>
              
              We have all the expertise you need to produce fully-fledged, stable, and scalable
               mobile applications, including Swift, Objective-C
              
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-danger">
            <i class="fal fa-shield-check fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Android App Development</h3>
            <p>          
              Using the latest technologies, we help businesses establish their presence on 
              any modern device and platform, including C#, Kotlin.
              
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-dark">
            <i class="fal fa-code fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Cross-platform App Development</h3>
            <p>
             
              Get top-notch mobile applications that run on multiple platforms, costs, while providing your users with an app that fits their OS.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

