<div *ngIf="showError" class="alert alert-danger" role="alert">
  <span [innerHTML]="errorMessage"></span>
</div>
<div *ngIf="showSuccess" class="alert alert-success" role="alert">
  Your password has been reset.
</div>
<form  class="register-form" [formGroup]="changePasswordForm"   (ngSubmit)="resetPassword(changePasswordForm.value)">
  <div class="row">
    <div class="col-sm-6">
      <label for="firstName" class="mb-1">Current password <span class="text-danger">*</span></label>
      <div class="input-group mb-3">
        <input type="password" class="form-control" formControlName="previous" 
   />
      </div>
      <span class="text-danger">
        <em *ngIf="validateControl('previous') && hasError('previous', 'required')">Password is
            required</em>
    </span>
    </div>
    <div class="col-sm-6 d-flex align-items-center ">
      <a class="text-decoration-none" routerLink="/authentication/forgotpassword">
        Forgot password?
      </a>
    </div>
    <div class="col-sm-6">
      <label for="phone" class="mb-1">New password <span class="text-danger">*</span></label>
      <div class="input-group mb-3">
        <input type="password" class="form-control"  formControlName="password"  />
      </div>
      <span class="text-danger">
        <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is
            required</em>
    </span>
    </div>
    <div class="col-sm-6">
      <label for="email" class="mb-1">Confirm new password<span class="text-danger">*</span></label>
      <div class="input-group mb-3">
        <input type="password" class="form-control" formControlName="confirm" required   />
      </div>
      <span class="text-danger">
        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation
            is required</em>
        <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
    </span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-4"  [disabled]="!changePasswordForm.valid">
    Save changes
  </button>
</form>

