<header class="bg-light">
  <div class="logo">
    <img src="../../assets/img/brand-logo/img-skoloi-web.png" alt="Logo">
  </div>
  <button class="close-btn" (click)="close()">×</button>
</header>

<div class="main-wrapper">
  <section class="sign-up-in-section bg-dark ptb-60" style="background: url('assets/img/page-header-bg.svg') no-repeat right bottom;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-12">

          <div  class="pricing-content-wrap bg-custom-light rounded-custom shadow-lg">
            <div class="price-feature-col pricing-feature-info text-white left-radius p-5 order-1 order-lg-0">
              <h5>Skolo Institute!</h5>
              <a routerLink="/skolo" class="mb-5 d-none d-xl-block d-lg-block">
                <img src="assets/img/img-skolo.png" alt="logo" class="img-fluid" />
              </a>
            </div>
            <div class="price-feature-col pricing-action-info p-5 right-radius bg-light order-0 order-lg-1" >
              <a routerLink="/" class="mb-5 d-block d-xl-none d-lg-none"><img src="assets/img/img-skolo.png" alt="logo" class="img-fluid white-logo" /></a>
             <div *ngIf="(basket$ | async) as basket ;else elseBlock">
              <div class="row" >
                <h1>Your Cart</h1>
                <div class="col-12">
                  <div class="integration-wrapper position-relative w-100">
                    <ul class="integration-list list-unstyled mb-0">
                      <li *ngFor="let item of basket.items" class="position-relative">
                        <div class="single-integration">
                          <button 
                            class="btn btn-danger btn-sm position-absolute top-0 end-0 m-1"
                            (click)="removeBasketItem(item)">
                            <i class="fas fa-times"></i> <!-- Font Awesome icon for the remove button -->
                          </button>
                          <img src="assets/img/integations/airbnb.png" alt="integration" class="img-fluid" />
                          <h6 class="mb-0 mt-4">{{item?.subjectName}}</h6>
                          <a class="link-with-icon p-0 mt-auto text-decoration-none pointer text-warning">{{item.class}}</a>
                        </div>
                      </li>                  
                    </ul>
                  </div>
                </div>
              </div>  
              <div class="mb-4" *ngIf="(basketTotals$ | async) as totals" >
                <h5>Total Cost: <sup>E</sup>{{totals.subTotal |number:'1.2'}}</h5>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">Proceed to Payment</button>
              </div> 
            </div>         
            <ng-template #elseBlock>
              <h1>Your cart is empty</h1>
              <div class="mb-3">
                <button (click)="close()" class="btn btn-primary">Add subjects</button>
              </div> 
            </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


