

<section class="digi-contact pt-120 pb-60">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="digi-contact-left">
          <div>
            <span class="span-arrow">Contact us</span>
            <img src="assets/img/arro-right.svg" alt="arrow" />
          </div>
          <h2 class="mb-3">
            Let's <span class="text-orange">connect!</span>
          </h2>
          <p>
            Send us a message, and we'll promptly discuss your project with you.
          </p>
          <ul class="d-flex list-unstyled d-flex flex-wrap list-two-col mb-0 mt-5">
            <li class="pe-4">
              <div class="bg-white contact-box mb-4 mb-md-0">
                <i class="fas fa-envelope fa-2x"></i>
                <h4 class="h5 mt-2">Email Address</h4>
                <p>
                  Simple drop us an email at
                  and you'll receive a
                  reply within 24 hours
                </p>
                <a class="btn btn-link mt-auto">info&#64;melanegroup.com</a>
              </div>
            </li>
            <li>
              <div class="bg-white contact-box">
                <i class="fas fa-phone fa-2x"></i>
                <h4 class="h5 mt-2">Phone</h4>
                <p>
                  Give us a ring.Our Experts are standing by
                  <strong>Monday to Friday</strong> from
                  <strong>9am to 5pm.</strong>
                </p>
                <a class="btn btn-link mt-auto">+268-7667-1033</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="digi-contact-form-bg position-relative">
          <ul class="list-unstyled d-none d-xl-block m-0">
            <li></li>
            <li></li>
          </ul>
          <form>
            <div class="row">
              <div class="col-12">
                <textarea rows="5" class="w-100 form-control message" placeholder="Message.."></textarea>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Full Name" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Email" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Phone" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label small" for="flexCheckChecked">
                      I agree with terms & conditions.
                      <a> View privacy policy</a>.
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <button class="mt-4 btn rounded-pill bg-orange">
                  Get in touch
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>