<section class="hero-section ptb-120 bg-purple" style="
    background: url('assets/img/online-learning.png') no-repeat center center /
      cover;
  ">
  <div class="container">
    <div class="row justify-content-xl-between align-items-center">
      <div class="col-lg-5 col-xl-5 col-xl-5 col-md-10">
        <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
          <h1 class="fw-bold display-5 text-warning">Advance Your Learning with Skolo Institute</h1>
          <!-- <p class="lead">
            Discover a new way to learn and manage your education. Skolo Institute offers an innovative platform for students and schools to thrive in a digital environment. Enroll in online courses, participate in live classes, and manage your school's activities with ease.
          </p> -->
          <div class="action-btns mt-5">
            <a routerLink="/student-portal" class="btn btn-primary me-3">Get Started Today</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
