<section
  class="hero-section ptb-120 bg-purple text-white"
  style="
    background: url('assets/img/app-two-mockup-bg.png') no-repeat center center /
      cover;
  "
>
  <div class="container">
    <div class="row justify-content-xl-between align-items-center">
      <div class="col-lg-5 col-xl-5 col-xl-5 col-md-10">
        <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
          <h5 class="text-warning">Empowering Education in Eswatini</h5>
          <h1 class="fw-bold display-5">Advance Your Learning with Skolo Institute</h1>
          <p class="lead">
            Discover a new way to learn and manage your education. Skolo Institute offers an innovative platform for students and schools to thrive in a digital environment. Enroll in online courses, participate in live classes, and manage your school's activities with ease.
          </p>
          <div class="action-btns mt-5">
            <a routerLink="/student-portal" class="btn btn-outline-light"
              >Get Started Today</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 mt-5">
        <div class="hero-app-img position-relative text-center">
          <img
            src="../../../assets/img/img-skolo.png"
            alt="app screen"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
