<section class="why-choose-us pt-60 pb-120 bg-light">
  <div class="container">
    <div
      class="row justify-content-lg-between justify-content-center align-items-center"
    >
      <div class="col-lg-5 col-md-7 order-1 order-lg-0">
        <div class="why-choose-img position-relative">
          <img
            src="assets/img/feature-hero-img-2.svg"
            class="img-fluid"
            alt="duel-phone"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-0 order-lg-1">
        <div class="why-choose-content">
          <div class="mb-32">
            <h2>Why Create Your Custom Web Application with Melane Systems</h2>
          </div>
          <ul class="list-unstyled">
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              By using custom applications, you can reduce operational costs
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>Our custom applications are designed to adapt to evolving needs
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>We prioritize security in our custom applications
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>You can focus on core business with confidence while we build your web app
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>Our web application development company can address niche challenges and ideas
            </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>

