<!-- payment.component.html -->
<div class="main-wrapper">
  <!-- payment section start -->
  <section class="sign-up-in-section bg-dark ptb-60" style="background: url('assets/img/page-header-bg.svg') no-repeat right bottom;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-12">

          <div class="pricing-content-wrap bg-custom-light rounded-custom shadow-lg">
            <div class="price-feature-col pricing-feature-info text-white left-radius p-5 order-1 order-lg-0">
              <h5>Skolo Institute!</h5>
              <a routerLink="/skolo" class="mb-5 d-none d-xl-block d-lg-block">
                <img src="assets/img/img-skolo.png" alt="logo" class="img-fluid" />
              </a>
            </div>
            <div class="price-feature-col pricing-action-info p-5 right-radius bg-light order-0 order-lg-1">
              <a routerLink="/" class="mb-5 d-block d-xl-none d-lg-none"><img src="assets/img/img-skolo.png" alt="logo" class="img-fluid white-logo" /></a>
              <h5>{{user?.firstName}} {{user?.lastName}}</h5>
              <div class="mb-4">
                <p *ngIf="gradeOptions.length > 0" class="fs-5 fw-bold mb-3">Select a Grade:</p>
                <div *ngIf="gradeOptions.length > 0" class="mb-3">
                  <div class="form-check" *ngFor="let grade of gradeOptions">
                    <input 
                      type="radio" 
                      class="form-check-input" 
                      id="{{grade}}" 
                      name="grade" 
                      [value]="grade" 
                      [(ngModel)]="selectedGrade">
                    <label class="form-check-label" for="{{grade}}">
                      {{grade}}
                    </label>
                  </div>
                </div>

                <div class="action-btns mt-4 ps-3" *ngIf="(basketTotals$ | async) as totals">
                  <a (click)="goBack()" class="btn btn-outline-primary me-2">Back to Cart</a>
                  <a (click)="submitOrder()" class="btn btn-primary" >Pay <sup>E</sup>{{totals.subTotal |number:'1.2'}}</a>
                </div>
                
              </div>
              
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- payment section end -->
</div>


