/* payment.component.css */
.subject-checkbox-group {
    display: flex;
    flex-direction: column;
  }
  
  .subject-checkbox-group input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .subject-checkbox-group label {
    margin-bottom: 5px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: center;
  }
  