/* Custom styles for the grade selection */
.grade-selection {
  margin-bottom: 1.5rem; /* Add spacing below the section */
}

.grade-selection .form-check {
  margin-bottom: 0.75rem; /* Space between radio buttons */
}

.grade-selection .form-check-label {
  font-size: 1rem; /* Adjust font size for better readability */
}
/* app.component.css */
.modal {
  position: fixed; /* Fixed position */
  z-index: 1; /* On top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Width of modal */
  max-width: 500px; /* Maximum width */
  position: relative; /* Relative positioning for close button */
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; /* Pointer cursor on hover */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
.image-container {
  text-align: center;
  margin: 20px 0;
}
.mtn{
  width: 70px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.875em;
}