<section class="payment-counter payment-counter-bg ptb-120">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 order-last order-md-first">
        <div class="card-shape position-relative">
          <div class="card-img mt-5 mt-lg-0">
            <img src="../../../assets/img/school.png" class="img-fluid" alt="card" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="payment-counter-right">
          <h2 class="text-black mb-4">SKOLOI FOR SCHOOLS</h2>
          <div class="mb-3">
            <h5 class="mb-2 h6">Benefits</h5>
          </div>
          <ul class="list-unstyled mt-4 mb-4">
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Monitor student progress in real-time.
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Access detailed analytics and reports on student performance.
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Release and manage student reports through the portal.
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Conduct online classes during holidays or afternoon sessions.
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Ability to pay for student access to the portal.
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Release and manage student reports through the portal.
            </li>
            <li class="py-1">
              <i class="fas fa-check-circle me-2 text-primary"></i>
              Access to exclusive teaching resources
            </li>
           
          </ul>
          <a routerLink="/skolo/school" class="btn-gradient-sqr mt-40">
            Get Started
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

