<app-close-header></app-close-header>
<section class="sign-up-in-section bg-light ptb-20">
    <div class="container">

        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-md-8 col-12">
                <main class="form-signin">
                    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
                        (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                        <div class="text-center mb-4">
                            <h1 class="mb-3 font-weight-normal">

                                Forgot Password

                            </h1>
                            <div *ngIf="showError" class="alert alert-danger" role="alert">
                                {{errorMessage}}
                            </div>
                            <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                                {{successMessage}}
                            </div>

                        </div>

                        <div class="form-floating mb-3">

                            <input type="text" id="email" formControlName="email" class="form-control" />
                            <label for="email">Email:</label>
                            <span class="text-danger">
                                <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is
                                    required</em>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="d-grid">
                                    <button class="btn btn-primary mt-3 d-block w-100" type="submit"
                                        [disabled]="!forgotPasswordForm.valid">Send</button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <button class="btn mt-3 d-block w-100 btn-danger" type="button"
                                        routerLink="/authentication/login">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
</section>